{% extends 'base.html' %} {% load static %} {% block content %}
<div id="wordcollection-detail-container">
  <div class="container" style="margin-top: 2%; margin-bottom: 10%">
    <div class="button-row-wrapper flex-wrapper">
      <div style="flex: 7">
        <div class="button-column-wrapper flex-wrapper">
          <a href="{{ wordcollection.url }}" target="_blank"
            ><h5>{{ wordcollection.name }}</h5></a
          >
        </div>
      </div>

      <div style="flex: 1" class="d-flex justify-content-center">
        <div class="btn-group btn-group-justified" role="group">
          <button
            id="add-entry"
            class="btn btn-sm btn-outline-info edit"
            onclick="createEntry()"
          >
            Add Word
          </button>
          <button
            id="learn"
            class="btn btn-sm btn-outline-info"
            onclick="location.href='http://127.0.0.1:8000/wordstock/learn-words/{{wordcollection.id}}'"
          >
            Learn
          </button>
        </div>
      </div>
    </div>

    <div id="list-wrapper"></div>
  </div>
</div>
{% endblock content %} {% block footer_scripts %}
<script id="wordcollection-id" type="application/json">
  {{wordcollection.id}}
</script>
<script id="page-type" type="application/json">
  "wordcollection"
</script>
<script src="{% static 'collections.js' %}"></script>

{% endblock %}
