{% extends "base.html" %} 
{% load widget_tweaks %}
{% block content %}
<div id="login-container">
  <div class="container" style="margin-top: 2%; margin-bottom: 10%">
    <div id="login-wrapper" class="d-flex justify-content-center">
      <div class="flex-wrapper">
        <div class="login-column-wrapper flex-wrapper">
          <h1>Log in</h1>
          <br />
          <p>No account? <a href="{% url 'register' %}">Register.</a></p>

          <br />
          
          <div class="login-form">
            
            <form action="{% url 'login' %}" method="POST">
              
                <div class="form-group">
                  
                  {% if form.non_field_errors %}
                    <div class="non-field-errors">
                      {% for error in form.non_field_errors %}
                        <p class="form-error">{{ error }}</p>
                      {% endfor %}
                    </div>
                  {% endif %}
                  
                  <div class="col-md-1">
                    {% csrf_token %}
                    {% for field in form %}
                    
                    <p>{{ field.label }}: {{ field }}</p>
                    
                    {% endfor %}
                  </div>
                </div>
                <input type="hidden" name="next" value="{{ next }}" />

                <br />
                <p><input type="submit" value="Log in" /></p>
              
            </form>
            <p>
              <a href="{% url 'password_reset' %}">
                Forgotten your password?
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
