{% extends "base.html" %} {% block title %}Welcome{% endblock %} 
{% block content %}
<div id="login-container">
  <div class="container" style="margin-top: 2%; margin-bottom: 10%">
    <div id="login-wrapper" class="d-flex justify-content-center">
      <div class="flex-wrapper">
        <div class="login-column-wrapper flex-wrapper">
          <h1>Welcome {{ new_user.first_name }}!</h1>
          <p>
            Your account has been successfully created. Now you can
            <a href="{% url 'login' %}">log in</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
